*{
	margin: 0px;
	padding: 0px;
}

#main{
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	z-index: 900;
}
.main-content{
	width: 100%;
	margin: auto 0;
	padding: 100px 0;
	display: flex;
}
.main-title{
	display: block;
	width: inherit;
	margin: 0 auto;
	text-align: center;
}
.main-form{
	width: 700px;
	margin: 0 auto;
}

.main-form-informations, .main-form-contact, .main-form-endereco, .main-form-situation, .main-form-course, .main-form-dificiencia{
	width: inherit;
	height: auto;
	margin: 0 auto;
}
.main-form-informations-nome, .main-form-contact-email, .main-form-informations-documento, .main-form-nascimento-data, .main-form-contact-telefone1, .main-form-contact-telefone2, .main-form-endereco-uf, .main-form-endereco-cidade, .main-form-endereco-bairro, .main-form-endereco-rua, .main-form-endereco-complemento, .main-form-situacao-radioBtn{
	display: block;
	float: left ;
	width: 50%;
}
.main-form-radiobutton-interno{
	float: left;
	margin-top: 15px;
	width: 50%;
	text-align: center;
}
.main-form-radiobutton-externo{
	float: right;
	margin-top: 15px;
	width: 50%;
	text-align: center;
}
.main-form-labelRadio, .main-form-inputRadio{
	display: inline-block;
}
.main-form-course{
	width: inherit;
	height: auto;
	margin: 0 auto;
}
.main-form-selectCurso{
	display: block;
	width: 92%;
	margin: 0 auto;
	padding: 10px;
}
.main-form-label:not(.main-form-labelCurso):not(.main-form-dificiencia-label){
	clear: both;
	display: block;
	width: 75%;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px;
}
.main-form-labelCurso{
	clear: both;
	display: block;
	width: 87%;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px;
}
.main-form-input:not(.main-form-selectCurso){
	display: block;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}
.main-form-selectCurso{
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}
.main-form-deficiencia{
	width: inherit;
}
.main-form-dificiencia-label{
	display: block;
	float: left;
	width: 30%;
	margin: 0 35px;
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: left;
	padding: 10px;
}
.main-form-radiobutton-sim, .main-form-radiobutton-nao{
	display: block;
	float: left;
	width: 20%;
	margin-top: 20px;
	padding: 10px 0;
}
.main-form-textareaDef{
	display: block;
	width: inherit;
}
#descricaoDeficiencia{
	display: block;
	width: 90%;
	margin: 0 auto;
	resize: none;
	box-sizing: border-box;
	padding: 10px;
}

.main-form-inputButton{
  display: block;
  float: right;
  margin-top: 30px;
  margin-right: 35px;
}

.recaptcha-div{
	display: block;
	width:100%;
    height: 78px;
}
.g-recaptcha{
	display: block;
	width: 304px;
    height: auto;
    padding: 15px;
    margin: 0 auto;
}
